* {
    box-sizing: border-box;
  }
  
  html, body {
    background-color:rgb(220, 220, 220);
    margin: 0;
    padding: 0;
  } 
   
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Style the header */
  .header {
    grid-area: header;
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
    font-size: 35px;
  }
  
  /* The grid container */
  .grid-container {
    display: grid;
    grid-template-areas: 
      'header' 
      'middle' 
      'footer';
    /* grid-column-gap: 10px; - if you want gap between the columns */
  }

 /* Style the middle column */
  .middle {
    background-color:#bbb;
    padding: 10px;
    height: 75vh;  
    grid-area: middle;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
      'description setup';
  }

  .middle .description {
    grid-area: description;
    overflow: auto;
  }
  .middle .description .main {
    margin-bottom: 4px;
    padding: 0;
    text-align: left;
  }
  .middle .description .signature {
    margin: 0;
    padding: 0;
    color:darkslategray;
    font-size: smaller;
  }

  .middle .setup {
    grid-area: setup;
  }

  .right {
    grid-area: right;
  }

  /* Style the footer */
  .footer {
    grid-area: footer;
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media (max-width: 600px) {
    .grid-container  {
      grid-template-areas: 
        'header'
        'middle'
        'footer';
    }
    .middle {
      grid-template-columns: auto;
      grid-template-areas: 
        'description'
        'setup';
    }
  }