* {
    box-sizing: border-box;
  }
  
  html, body {
    background-color:rgb(220, 220, 220);
    margin: 0;
    padding: 0;
  } 
   
  body {
    font-family: Arial, Helvetica, sans-serif;
  }

  /* The grid container */
  .grid-container {
    display: grid;
    grid-template-areas: 
      'header' 
      'mid' 
      'footer';
    grid-template-rows: 15vh 75vh 10vh
  }

  /* Style the header */
  .header {
    grid-area: header;
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
    font-size: 35px;
  }
  
 /* Style the mid column */
  .mid {
    grid-area: mid;
    background-color:#bbb;
    padding: 10px; 
    display: grid;
    grid-template-areas: 
      'description setup';
    grid-template-columns: 50% 50%;
  }

  .mid .description {
    grid-area: description;
    overflow: auto;
  }
  .mid .description .main {
    margin-bottom: 4px;
    padding: 0;
    text-align: left;
  }
  .mid .description .signature {
    margin: 0;
    padding: 0;
    color:darkslategray;
    font-size: smaller;
  }

  .mid .setup {
    grid-area: setup;
  }

  .right {
    grid-area: right;
  }

  /* Style the footer */
  .footer {
    grid-area: footer;
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media (max-width: 600px) {
    .grid-container  {
      grid-template-areas: 
        'header'
        'mid'
        'footer';
      grid-template-rows: auto auto auto
    }
    .mid {
      grid-template-areas: 
        'description'
        'setup';
      grid-template-columns: auto;
    }
  }

  ul {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }